<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <strong><%= form.label :lname %></strong>
    <%= form.text_field :lname, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong><%= form.label :fname %></strong>
    <%= form.text_field :fname, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong><%= form.label :email %></strong>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <strong><%= form.label :thumbnail %></strong>
    <%= form.file_field :thumbnail, class: "form-control-file" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', users_path, class: "btn btn-danger" %>
  </div>
<% end %>
