<div id="main" class="container">

  <% if !notice.blank? %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>

  <h1>Users</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Lname</th>
        <th>Fname</th>
        <th>Email</th>
        <th>Thumbnail</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.lname %></td>
          <td><%= user.fname %></td>
          <td><%= user.email %></td>
          <td><%= user.thumbnail %></td>
          <td>
            <%= link_to user, class: "btn btn-default btn-sm" do %>
              Show
            <% end %>
          </td>
          <td>
            <%= link_to edit_user_path(user), class: "btn btn-default btn-sm" do %>
              Edit
            <% end %>
          </td>
          <td>
            <%= link_to user, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" do %>
              Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path, :class => "btn btn-primary" %>
</div>