<div id="main" class="container">
	<% if !notice.blank? %>
		<p id="notice" class="alert alert-success"><%= notice %></p>
	<% end %>

	<p>
		<strong>Lname:</strong>
		<%= @user.lname %>
	</p>

	<p>
		<strong>Fname:</strong>
		<%= @user.fname %>
	</p>

	<p>
		<strong>Email:</strong>
		<%= @user.email %>
	</p>

	<p>
		<strong>Thumbnail:</strong>
		<%= @user.thumbnail %>
	</p>

	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
	<%= link_to 'Back', users_path, class: "btn btn-danger" %>
</div>